body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f2f2f2;
    color: #333;
}

h1 {
    text-align: center;
    font-size: 48px;
    color: #000; /* Black color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Text shadow for added depth */
}

button {
    padding: 10px 20px;
    margin: 50px;
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    border-radius: 50px; /* Round button shape */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
    color: #fff;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 3px;
    justify-items: center;
    width: 420px;
    margin: auto;
}

@media screen and (max-width:430px){
    .keyboard {
        grid-template-columns: repeat(6, 1fr);
        width: 210px;
    }
    #inputField{
        margin-top: 2px;
        margin-bottom: 2px;
    }
    h2{
        font-size: smaller;
    }
    button{
        margin:5px
    }
}

.gameBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: fit-content;
    margin: auto;
}

.row {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Cell box shadow for depth */
}

.cell.correct {
    background-color: #4CAF50; /* Green color for correct cells */
    color: #fff;
}

.cell.almost {
    background-color: #FF9800; /* Orange color for almost correct cells */
    color: #fff;
}

.cell.ignore {
    background-color: #E0E0E0; /* Light gray color for ignored cells */
    color: #888;
}

#inputArea {
    text-align: center;
}

#inputField {
    padding: 10px 20px;
    border-radius: 30px; /* Round input field shape */
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#inputField:focus {
    outline: none;
    border-color: #333;
}

#submitBtn {
    padding: 10px 20px;
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    border-radius: 50px; /* Round button shape */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submitBtn:hover {
    background-color: #333;
    color: #fff;
}

/* Winning Modal Styles */
#myWinningModal.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    max-width: 100px;
}

dialog{
    border-style: none;
}

#myWinningModal h2 {
    text-align: center;
    font-size: 30px;
    color: #000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* #myWinningModal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

#myWinningModal button {
    color: #333;
    border: 1px solid #333;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* flex-grow: 1;
    margin: 0 5px; */
}

#myWinningModal button {
    /* Existing styles */
    display: block;
    margin: 0;
}


.button-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}